# Ambiente (local, develop, alfa, beta, production)
VITE_ENV=local

# URLs das APIs para cada ambiente
VITE_API_URL_DEVELOP=https://api-dev.example.com
VITE_API_URL_ALFA=https://api-alfa.example.com
VITE_API_URL_BETA=https://api-beta.example.com
VITE_API_URL_PRODUCTION=https://api.example.com
